<div class="card">
	
	<h3><%= link_to blog.title, blog %></h3>
		<span class="text-muted">Posted <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</span>
	
	<hr>
		
		<p><%= blog.body.truncate(200, separator: ' ') %></p>
	
	<hr>
	
	<div class="display-inline-block">
		<span class="btn btn-light edit", aria-label="Edit">
			<%= link_to '', edit_blog_path(blog), class: 'fa fa-edit fa-lg' %>
		</span>
		<span class="btn btn-danger delete">
			<%= link_to '', blog, class: 'fa fa-trash-o fa-lg', method: :delete, data: { confirm: 'Are you sure?'} %>
		</span>
	</div>

</div>