<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div id="homepgHeader">
	<h1>J. Kaden Jenson</h1>
</div>

<div class="languageBox">
	<div class="boxes">
		<span><i class="fa fa-diamond ruby"></i></span>
	</div>

	<div class="boxes">
		<span><%= image_tag "Ruby_on_Rails.png", width: 55, height: 50, alt: "Rails5" %></span>
	</div>

	<div class="boxes">
		<span><%= image_tag "python.png", width: 55, height: 55, alt: "Python" %></span>
	</div>

	<div class="boxes">
		<span><%= image_tag "javascript.png", width: 60, height: 50, alt: "JS" %></span>
	</div>

	<div class="boxes">
		<span><%= image_tag "react.png", width: 55, height: 55, alt: "React" %></span>
	</div>

	<div class="boxes">
		<span><%= image_tag "angular.svg", width: 55, height: 50, alt: "Angular" %></span>
	</div>

	<div class="boxes">
		<span><i class="fa fa-html5 html"></i></span>
	</div>

	<div class="boxes">
		<span><i class="fa fa-css3 css"></i></span>
	</div>

	<div class="boxes">
		<span><%= image_tag "scss.png", width: 80, height: 46, alt: "SCSS" %></span>
	</div>

	<div class="boxes">
		<span><%= image_tag "bootstrap-stack.png", width: 75, height: 60, alt: "Bootstrap" %></span>
	</div>

	<div class="boxes">
		<span><%= image_tag "github.png", width: 66, height: 55, alt: "GitHub" %></span>
	</div>
</div>

<div class="container">
	<div id="aboutMe">
		<div class="aboutMe-header">
			<h1>Your friendly, neighborhood Software Developer</h1>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-3">
				<%= image_tag "forest3.jpeg", width: 250, height: 360, alt: "Profile Image", class: 'profile-img' %>
			</div>

			<div class="col-md-9">
				<p>That, out there. That's my grave. On one of our adventures Rick and I basically destroyed the whole world. So we bailed on that reality and we came to this one. Because in this one the world wasn't destroyed. And in this one, we were dead. So we came here a-a-and we buried ourselves and we took their place. And every morning, Summer, I eat breakfast 2 God? God's turning people into insect monsters Beth. I'm the one beating them to death. Thank me. Meeseeks don't usually have to exist for this long. It's gettin' weeeiiird.</p>
				<hr>
				<div class="display-inline-block">
					<span class="aboutMe-icons">
						<a href="https://www.linkedin.com/in/kaden1227/" target="_blank"><%= fa_icon "linkedin" %></a>
					</span>
					<span class="aboutMe-icons">
						<a href="https://github.com/kadenjenson" target="_blank"><%= fa_icon "github" %></a>
					</span>
					<span class="aboutMe-icons">
						<a href="https://www.instagram.com/bagel17th/" target="_blank"><%= fa_icon "instagram" %></a>
					</span>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container">
	<div id="portfolio-preview">
		<div class="pr-header">
			<h1>My recent work</h1>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.languageBox').slick({
		  slidesToShow: 7,
		  slidesToScroll: 1,
		  autoplay: true,
		  autoplaySpeed: 3500,
		  arrows: false,
		});
	});
</script>



























