<div id="homepgHeader">
	<h1>KJ Development</h1>
</div>

<div id="languageBox">
	<div class="container forLangBox">
		<div class="boxes">
			<h2><i class="fa fa-diamond ruby"></i> RUBY</h2>
		</div>

		<div class="boxes">
			<h2>
				<%= image_tag "Ruby_on_Rails.png", width: 40, height: 48, alt: "Rails5" %>
				RAILS 5
			</h2>
		</div>

		<div class="boxes">
			<h2>
				<%= image_tag "angular.png", width: 40, height: 48, alt: "Angular" %> ANGULAR
			</h2>
		</div>

		<div class="boxes">
			<h2>
				<%= image_tag "typescript.png", width: 40, height: 42, alt: "TS" %> TYPESCRIPT
			</h2>
		</div>

		<div class="boxes">
			<h2><%= image_tag "javascript.png", width: 40, height: 42, alt: "JS" %> JAVASCRIPT</h2>
		</div>

		<div class="boxes">
			<h2><i class="fa fa-html5 html"></i> HTML5</h2>
		</div>

		<div class="boxes">
			<h2><i class="fa fa-css3 css"></i> CSS3</h2>
		</div>

		<div class="boxes">
				<h2><%= image_tag "scss.png", width: 75, height: 42, alt: "SCSS" %>SCSS</h2>
		</div>
	</div>
</div>


<div id="missionStatement">
	<p>That, out there. That's my grave. On one of our adventures Rick and I basically destroyed the whole world. So we bailed on that reality and we came to this one. Because in this one the world wasn't destroyed. And in this one, we were dead. So we came here a-a-and we buried ourselves and we took their place. And every morning, Summer, I eat breakfast 2 God? God's turning people into insect monsters Beth. I'm the one beating them to death. Thank me. Meeseeks don't usually have to exist for this long. It's gettin' weeeiiird. Hi! Principal Vagina: the name's real, possibly Scandinavian.Well let me check my list of powers and weaknesses: ability to do anything, but only whenever I want. Yeah, that sounds like a job for me. Go home and drink, grandpa. Isn't it obvious Morty? I froze him. Your blood will be my lotion!</p>
</div>

<div class="container">
	<div class="jumbotron" id="aboutMe">
		<h1>Your friendly neighborhood Software Developer</h1>

		<hr>

		<div class="row">
			<div class="col-md-4">
				<%= image_tag "Profile.jpg", width: 300, height: 250, alt: "Profile Image", class: 'profile-img' %>
			</div>

			<div class="col-md-8">
				<p>That, out there. That's my grave. On one of our adventures Rick and I basically destroyed the whole world. So we bailed on that reality and we came to this one. Because in this one the world wasn't destroyed. And in this one, we were dead. So we came here a-a-and we buried ourselves and we took their place. And every morning, Summer, I eat breakfast 2 God? God's turning people into insect monsters Beth. I'm the one beating them to death. Thank me. Meeseeks don't usually have to exist for this long. It's gettin' weeeiiird.</p>

				<hr>

				<div class="display-inline-block">
					<span class="aboutMe-icons">
						<a href="https://www.linkedin.com/in/kaden1227/" target="_blank"><%= fa_icon "linkedin" %></a>
					</span>
					<span class="aboutMe-icons">
						<a href="https://github.com/kadenjenson" target="_blank"><%= fa_icon "github" %></a>
					</span>
					<span class="aboutMe-icons">
						<a href="https://www.instagram.com/bagel17th/" target="_blank"><%= fa_icon "instagram" %></a>
					</span>
				</div>
			</div>
		</div>

	</div>
</div>



























